.d-card {
    width: 25%;
    /* background-color: rgb(250, 235, 235); */
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}

.d-category {
    padding: 1em 1em 1em 1em;
    font-size: 1.6em;
    font-weight: 600;
    color: #7A1010;
    border: none;
    background-color: rgb(235, 110, 110);
    /* background-image: url(../../assets/BackgroundImage.jpg);
    background-size: cover; */
}

.d-list {
    padding: 1em 1em;
}

.d-list>ol{
    list-style: none;
}

.d-list>ol>li{
    padding: 4px 0;
    font-size: 1em;
}

