.F-box{
    background-color: #EB6E6E;
    border-radius: 56px 0 56px 0;
}


.F-box :first-child {
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}

.F-box :nth-child(2){
    font-size: medium;
    padding: 1em 4em;
    text-align: justify;
}

