#header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 110, 110);
    padding: 1em 3em;
    color: rgb(122, 16, 16);
}

#navbar{
    list-style: none;
    display: flex;
    gap: 2em;
}

#appname{
    font-size: 1.5em;
    font-weight: 600;
}

.nav-items{
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    color: rgb(122, 16, 16);
}

.nav-items:hover {
    color: white;
}


