
.card{
    padding: 2em;
    border: .1em solid rgb(120, 39, 39); 
    border-radius: 1em;
    color : rgb(120, 39, 39);
}




.card:hover  {
    background-color: rgb(120, 39, 39);
    color : white;
}