.ds-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8em;
}

.ds-image {
    width: 35vw;
    height: 75vh;
}

.ds-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}


.ds-file>button{
    text-decoration: none;
    border-radius: 8px;
    padding: .6em;
    background-color: #EB6E6E;
    color: rgb(120, 39, 39);
    font-size: 1.2em;  
    font-weight: 600;
}